*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
nav a  img{
    width: 130px;
}
nav button{
    width: 100px;
    border: 1px solid#f1647d;
    border-radius: 30px;
    height: 30px;
    background: white;
    color:#f1647d;
}