*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}


nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
nav a  img{
    width: 130px;
}
nav button{
    width: 100px;
    border: 1px solid hsl(321, 100%, 78%);
    border-radius: 30px;
    height: 30px;
    background: white;
    color: hsl(321, 100%, 78%);    
}
.navigation__button:hover{
    border: 1px solid hsl(319, 50%, 68%);
    background-color: white;
    color: 1px solid hsl(319, 50%, 68%);
}



.main-content{
    text-align: center;
    margin-top: 80px;
    font-family: 'Open Sans', sans-serif;
    
   
}
.hero__heading{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;    
}
.hero__description{
    font-weight: 400;
}

.hero button{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    margin-top: 20px;
    color: white;
    box-shadow: 2px 3px 8px 2px grey;
    
}

.statistics{
    margin-top: 100px;
    /* position: relative; */
}

.statistics figure img{
    width: 100%;  
}



.statistics_figures {
    width: max-content;
    margin: 0 auto;
    margin-top: 120px;
}

.statistics_figures img{
    width: 32px;
    margin-right: 80px;
}

.statistics_figures p{
    font-size: 42px;
    font-weight: 700;
}
.statistics_figures p span{
    font-size: 16px;
    font-weight: 400;
    color:#c1c1c1;
    display: block;
}

   
.grow-section img{
    width: 100%;
}


.grow-section_content{
    background-color: hsl(207, 100%, 98%);
    margin-top: -5px;
    padding-bottom: 50px;
}
.grow-section_content img{
    width: 250px;
    padding-top: 20px;
}

.grow-section_content p{
    width: 90%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 28px;
    color: #5c5a5a;
}
.grow-section_content-heading {
    margin-top: 80px !important ;
    margin-bottom: 20px !important;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;;
}
.desktop-bg{
    display: none;
}

.flowing-conversation-section{
    margin-top: 150px;
}

.flowing-conversation-section img{
    width: 250px;
}

.flowing-conversation-section--text{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
}
.flowing-conversation-section h1{
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.flowing-conversation-section p{
    font-size: 15px;
    line-height: 28px;
    color: #5c5a5a;
}


.users-section{
    margin-top: 100px;
    
}
.users-section img{
    width: 100%;
}
.users-section_content{
    background-color: hsl(207, 100%, 98%);
    margin-top: -5px;
}
.users-section_content img{
    width: 250px;
}
.users-section_content .text{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 100px;
}
.users-section_content h1{
    margin-bottom: 10px;
    font-size: 20px;
}
.users-section_content p{
    font-size: 15px;
    line-height: 28px;
    color: #5c5a5a;
}

.ready-to-build-section{
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.ready-to-build-section button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    margin-top: 20px;
    color: white;
    box-shadow: 2px 3px 8px 2px grey;
}

footer{
    margin-top: 150px;
}
footer .footer-background{
    width: 100%;
}
.footer-content {
    background-color: hsl(192, 100%, 9%);
    color: white;
    margin-top: -5px;
    padding-top: 50px;
    
}
.footer-content h2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    /* font-weight: 200; */
}
.footer-content p{
    font-family: 'Open Sans', sans-serif;
}
.footer-content .form-section p{
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 25px;
}
.footer-content input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 20px;
}
.footer-content input:focus{
    outline: none;
}
.footer-content .button-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 10px;
}
.footer-content button{
    background-color: hsl(322, 100%, 66%);
    height: 50px;
    border-radius: 10px;
    width: 200px;
    border: none;
    color: white;
    font-weight: bold;
    
    
}
 
.footer-content .logo{
    margin-top: 80px;
    display: flex;
    /* justify-items: center; */
    align-items: center;
}
.footer-content .information .logo img{
    height: 30px;
}

.footer-content .information .logo p{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-left: 5px;
   
} 
.footer-content .info-content{
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 40px;
}  

.footer-content .icons div{
    margin-top: 30px;
}
.footer-content .icons img{
    width: 20px;
}
.footer-content .icons span{
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    margin-left: 10px;
}

.footer-content .social-media{
    display: flex;
    margin-top: 50px;
    padding-bottom: 30px;    
}

.footer-content .social-media_item{
    width: 50px;
}

.social-media img{
    background: white;
    border-radius: 10px;
    border: 1px solid white;    
}

button{
    cursor: pointer;
}

button:hover{
    background-color: hsl(321, 100%, 78%);
}


@media(min-width: 768px){
    .main-content{
        margin: 0 auto;
    }
    .hero__description{
        width: 60%;
        margin: 0 auto;
    }
    .hero__heading{
        font-size: 46px;
    }
    .statistics-container{
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
    }
    .statistics_figures img{
        margin-right: 150px;
    }
    .statistics_figures p{
        font-size: 70px;
    }
    .statistics figure img {
        width: 70%;
    } 
    .ready-to-build-section{
        margin-top: 150px;
        width: 95%;
    }
    .ready-to-build-section h1{
        font-size: 35px;
    }
    .ready-to-build-section button{
        height: 50px;
        width: 300px;
    }
}

@media(min-width: 1024px){
    .mobile-bg{
        display: none;
    }
    .desktop-bg{
        display: block;
    }
    .grow-section_content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'text illustration';  
        align-items: center;
    }
    .illustration{
        grid-area: illustration;
    }
    .text{
        grid-area: text;
        text-align: left;
        width: 85%;
        padding-left: 80px;
    }
    .grow-section_content img{
        width: 500px;
        padding-top: 20px;
    }
    .grow-section_content p {
        width: 100%;
    }
    .grow-section_content-heading{
        font-size: 35px;
    }

    .flowing-conversation-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        
    }
    .flowing-conversation-section img{
        width: 500px;
    }
    .flowing-conversation-section--text{
        width: 80%;
        text-align: left;
        padding-right: 20px;
    }
    .flowing-conversation-section h1{
        font-size: 35px;
    }

    .users-section_content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'text illustration';  
        align-items: center;
    }
    .users-section_content .illustration{
        grid-area: illustration;
    }
    .users-section_content .text{
        grid-area: text;
    }
    .users-section_content img{
        width: 500px;
    }
    .users-section_content h1{
        font-size: 35px;
    }

    .footer-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'info form';  
        align-items: center;
        padding-top: 0;
    }
    .form-section{
        grid-area: form;
    }
    .form-section p {
        width: 50%;
    }
    .information{
        grid-area: info;
        width: 50% ;
    }
    .footer-content .button-container{
        display: inline;
        margin-left: 30px;
        
    }
    .footer-content input{
        width: 50%
    }
    
}