*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
nav a  img{
    width: 130px;
}
nav button{
    width: 100px;
    border: 1px solid hsl(321, 100%, 78%);
    border-radius: 30px;
    height: 30px;
    background: white;
    color: hsl(321, 100%, 78%);
    
}

.main-content{
    text-align: center;
    margin-top: 80px;
    font-family: 'Open Sans', sans-serif;
    
   
}
.hero__heading{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;    
}
.hero__description{
    font-weight: 400;
}

.hero button{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    margin-top: 20px;
    color: white;
    box-shadow: 2px 3px 8px 2px grey;
    
}

.statistics{
    margin-top: 100px;
    /* position: relative; */
}

.statistics figure img{
    width: 100%;  
}



.statistics_figures {
    width: max-content;
    margin: 0 auto;
    margin-top: 120px;
}

.statistics_figures img{
    width: 32px;
    margin-right: 80px;
}

.statistics_figures p{
    font-size: 42px;
    font-weight: 700;
}
.statistics_figures p span{
    font-size: 16px;
    font-weight: 400;
    color:#c1c1c1;
    display: block;
}



@media(min-width: 768px){
    .main-content{
        width: 80%;
        margin: 0 auto;
    }
    .hero__description{
        width: 60%;
        margin: 0 auto;
    }
    .hero__heading{
        font-size: 46px;
    }
    .statistics-container{
        display: flex;
        justify-content: space-around;
    }
    

}